{% extends "layout.html" %}


{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-xl">
		  Emergency travel alerts
		</span>
			<h1 class="govuk-heading-xl">
				Myanmar (Burma)
			</h1>

			<h2 class="govuk-heading-l">
				{{data['incident']['title']}}
				<span class="govuk-caption-m">
		  Beginning {{data['incident']['startDate']}}
		</span>
			</h2>

		<form class="form" method="get" action="alert-history">
			<div class="govuk-form-group">
				<select class="govuk-select" name="sort">
					<option value="desc"{% if data.sort == 'desc' %} selected{% endif %}>Newest first</option>
					<option value="asc"{% if data.sort != 'desc' %} selected{% endif %}>Oldest first</option>
				</select>
				<button class="govuk-button govuk-button--secondary">Update</button>
			</div>

		</form>

			<ol class="timeline">
				{% for alert in data['incident']['alerts'] %}
				<li class="timeline-event">
					<h3 class="timeline-event-title">{{alert.title}}</h3>
					<span class="timeline-event-meta">Sent: {{alert.dateShort}}</span>
					<div class="timeline-event-content">
						<details class="govuk-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">
								  Email message
								</span>
							</summary>
							<div class="govuk-details__text">
								{{alert.email |  escape | nl2br}}
							</div>
						</details>
						<details class="govuk-details" data-module="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">
								  SMS message
								</span>
							</summary>
							<div class="govuk-details__text">
								{{alert.sms |  escape | nl2br}}
							</div>
						</details>
					</div>
				</li>
				{% endfor %}
			</ol>
	</div>
</div>
<link rel="stylesheet" href="/public/javascripts/accessible-autocomplete.min.css" />
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
{% endblock %}
