{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Send a travel alert
		</h1>
		<p>Send an alert to all users who subscribed for the country you specify.</p>
		<p>Each user will be alerted via the channel(s) they subscribed on (email / SMS).</p>
		<br />
		<form class="form" method="post" action="broadcast-alert">
			<div class="govuk-form-group">
				<label class="govuk-label" for="countryToAdd">
					Country to send the alert for
				</label>
				<select class="govuk-select" id="countryToAdd" name="country">
					<option value="" selected>Type a country name</option>
					{% for country in data['countryNames'] %}
					<option value="{{country}}">{{country}}</option>
					{% endfor %}
				</select>
				<div id="my-autocomplete-container"></div>
			</div>

			<h2 class="govuk-heading-m">Ongoing incident: Military coup</h2>
			<div class="govuk-form-group">
				<label class="govuk-label" for="heading">
					Message heading
				</label>
				<input class="govuk-input" id="heading" name="messageHeading" value="Flights out of Myanmar" />
			</div>

			<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
				<div class="govuk-accordion__section ">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Email message
        </span>
						</h2>
					</div>
					<div id="accordion-default-content-2" class="govuk-accordion__section-content"
						 aria-labelledby="accordion-default-heading-2">

							<textarea class="govuk-textarea" id="email-body" name="messageEmail" rows="25"
									  aria-describedby="more-detail-hint">
# Flights out of Myanmar

If you have concerns for your safety in the current situation, you should consider leaving Myanmar by commercial means. The military have suspended all scheduled international commercial passenger flights until 31 May 2021.

However, we understand that some services will be available. Land borders are also closed.

There are limited options for British nationals looking to return to the UK.

We understand that a number of flights are resuming to Kuala Lumpur, Seoul, and Singapore, although these may be subject to change and travellers should contact the relevant airline’s website or office.

These are primarily operated by Myanmar Airways International - https://maiair.com/

# Transit / entry requirements

All travellers should check with the embassies of respective transit countries to check transit, entry and Covid-19 testing requirements before making ticket purchases.

Please be aware of current UK entry requirements. To enter the UK, you are required to:

1. complete a passenger locator form; and
2. provide proof of a negative coronavirus test.
							</textarea>

					</div>
				</div>
				<div class="govuk-accordion__section ">
					<div class="govuk-accordion__section-header">
						<h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          SMS message
        </span>
						</h2>
					</div>
					<div id="accordion-default-content-1" class="govuk-accordion__section-content"
						 aria-labelledby="accordion-default-heading-1">
						<div id="more-detail-hint" class="govuk-hint">
							Note - the SMS message must be 918 characters or less
						</div>
						<textarea class="govuk-textarea" name="messageSms" rows="25"
								  aria-describedby="more-detail-hint">
FLIGHTS OUT OF MYANMAR

The military have suspended all scheduled international commercial passenger flights until 31 May 2021. Land borders are also closed.

We understand that a number of flights, mainly with Myanmar Airways International - https://maiair.com/ are resuming to Kuala Lumpur, Seoul, and Singapore, although these may be subject to change and travellers should contact the relevant airline’s website or office.

TRANSIT / ENTRY REQUIREMENTS

Check with the embassies of respective transit countries on entry and Covid-19 testing requirements before making ticket purchases.

Please be aware of current UK entry requirements:

1. complete a passenger locator form; and
2. provide proof of a negative coronavirus test.
						</textarea>

					</div>
				</div>
			</div>


			<button class="govuk-button" data-module="govuk-button">Send alert to all subscribers</button>
		</form>
	</div>
</div>
<link rel="stylesheet" href="/public/javascripts/accessible-autocomplete.min.css" />
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
  accessibleAutocomplete.enhanceSelectElement({
    defaultValue: 'Myanmar',
    selectElement: document.querySelector('#countryToAdd'),
    showAllValues: true,
    displayMenu: 'overlay'
  })
  document.querySelector('.autocomplete__dropdown-arrow-down').addEventListener('click', function () {
    document.querySelector('#countryToAdd').click()
    document.querySelector('#countryToAdd').focus()
  })
</script>
{% endblock %}
