{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Register your phone number
		</h1>
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-half-from-desktop">
				<h2 class="govuk-heading-m">WhatsApp</h2>
				<img src="/public/images/vonage-qr-whatsapp.png" />
			</div>
			<div class="govuk-grid-column-one-half-from-desktop">
				<h2 class="govuk-heading-m">Viber</h2>
				<img src="/public/images/vonage-qr-viber.png" />
			</div>
		</div>
	</div>
</div>
{% endblock %}
